
.hotel-image{
    width:100%;
    height:150px;
}
.hotels-card{
    height:350px;
    border: 1px solid gainsboro;
}
.desc{
    font-size: 15px;
}
.price-rating{
    display: flex;
    justify-content: space-between;
}
.rating{
    color:MediumSpringGreen;
    font-size: 15px;
}
.hotel-header{
    display: flex;
    justify-content: space-between;
}
.arrow{
    color:gainsboro;
}