.hotel-card{
    height: 470px;
    border:1px solid gainsboro
   
  }
  
  .hotel-image{
      width:100%;
      height:150px;
  }
  .desc{
      font-size: 15px;
  }
  .price-rating{
      display: flex;
      justify-content: space-between;
  }
  .rating{
      color:MediumSpringGreen;
      font-size: 15px;
  }
  .spinner{
      color:MediumSpringGreen;
  }
  .btn-confirm{
      background-color: mediumspringgreen;
      border:mediumspringgreen;
      border-radius: 10px;
      font-family: cursive;
  }