.link{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-family: cursive;
   
}
.link:hover{
    color:black;
}
.signup-button{
    background-color: MediumSpringGreen;
    border:MediumSpringGreen;
    border-radius: 15px;
  
}
.nav-brand{
    text-decoration: none;
    color: limegreen;
    font-family: cursive;
}
.nav-brand:hover{
    color: limegreen;
}
.toggle{
    background-color: limegreen;
}
.user-link{
    text-decoration: none;
    font-size: 18px;
    color:grey;
    padding-left: 15px;
}
.user-icon{
    color:gray;
    margin-right: 15px;
}
#collasible-nav-dropdown{
    color: black;
     font-family: cursive;
}
.input-search{
    border:2px solid goldenrod;
}
.input{
    height: 100%;
    border: none;
    outline-style: none;
}
.arrival-section{
    border:2px solid goldenrod;
    background-color: white;
 
}
.departure-section{
    border:2px solid goldenrod;
    background-color: white;
    
}
.search-button{
    border:2px solid goldenrod;
    background-color: goldenrod;
}
.btn-search{
    width:100%;
    height:100%;
    background-color: goldenrod;
    border:none;
}
